section.section#benefits
  .container
    .__row
      .__col-12.__col-md-4
        .benefit-item
          .benefit-item-title
            span.bold 1000
            span.thin +
          p.benefit-item-text Более тысячи пропиаренных песен
      .__col-12.__col-md-4
        .benefit-item
          .benefit-item-title
            span.bold 10 000
            span.thin +
          p.benefit-item-text Десятки тысяч добавлений по новостям
      .__col-12.__col-md-4
        .benefit-item
          .benefit-item-title
            span.bold 100 000
            span.thin +
          p.benefit-item-text Сотни тысяч добавлений по аудиозаписям
