section.section#contacts
  .container
    .__row
      .__col-12
        .title
          p.sub-level Готовы к продвижению? Оставте вашы
          h2.main-level Контакты
    .__row.content
      .__col-12.__col-xl-5
        p.text Отчеты по пиару присылаем сразу же по выполнению. Вы сможете с первой минуты следить за ростом лайков, репостов, реальных и живых добавлений.
    .__row.form-container
      .__col-12.__col-md-6.__col-xl-4
        form.form(method="post" action='./mail.php')
          .__row
            .__col-12.__col-md-6
              input.input(placeholder='Имя' name="name" required)
            .__col-12.__col-md-6.j-md-bottom-up.mb-44
              input.input(placeholder='Телефон' name="phone" required)
            .__col-12
              button.btn(type="submit") Продвинуться прямо сейчас
