section.section#partners
  .container
    .__row
      .__col-12
        .title
          p.sub-level Работаем с лучшими
          h2.main-level Партнерами
    .__row.content
      .__col-6.__col-xl-2.j-xs-center-up.a-xs-center-up
        i.icon.logo-1
      .__col-6.__col-xl-2.j-xs-center-up.a-xs-center-up
        i.icon.logo-2
      .__col-6.__col-xl-2.j-xs-center-up.a-xs-center-up
        i.icon.logo-3
      .__col-6.__col-xl-2.j-xs-center-up.a-xs-center-up
        i.icon.logo-4
      .__col-6.__col-xl-2.j-xs-center-up.a-xs-center-up
        i.icon.logo-5
