section.section#portfolio
  .container
    .__row
      .__col-12
        .title
          p.sub-level Несколько результатов
          h2.main-level Наших робот
    .__row.content
      .__col-12.__col-md-4
        .portfolio-item
          .portfolio-item-image
            img.fluid(src=require('../../assets/item-1.jpg'))
          .portfolio-item-content
            .portfolio-item-content-title Светлана Никитина
            .portfolio-item-content-subtitle Оттепели теперь
            p.portfolio-item-content-description ТОП-50 VK чарт
      .__col-12.__col-md-4
        .portfolio-item
          .portfolio-item-image
            img.fluid(src=require('../../assets/item-2.jpg'))
          .portfolio-item-content
            .portfolio-item-content-title Станислав Стодоля
            .portfolio-item-content-subtitle Лютые морозы
            .portfolio-item-content-description Более 30 000 000 прослушиваний в VK
      .__col-12.__col-md-4
        .portfolio-item
          .portfolio-item-image
            img.fluid(src=require('../../assets/item-3.jpg'))
          .portfolio-item-content
            .portfolio-item-content-title SMASH
            .portfolio-item-content-subtitle Что осталось от тебя
            .portfolio-item-content-description Более 30 000 000 прослушиваний в VK
