section.section#principles
  video#video(autoplay muted loop)
    source(src=require('../../assets/video-bg.mp4'))
  .layout
    .container
      .__row
        .__col-12.__col-xl-7
          .title
            p.sub-level Мы используем следующие
            h2.main-level Принципы
          .__row
            .__col-12.__col-md-6.a-xs-center-up
              i.icon.stats
              span.text Вирусное продвижение аудио
            .__col-12.__col-md-6.a-xs-center-up
              i.icon.crown
              span.text Эксклюзивные посевы
            .__col-12.__col-md-6.a-xs-center-up
              i.icon.play-button
              span.text Премьеры видеоклипов
            .__col-12.__col-md-6.a-xs-center-up
              i.icon.dance
              span.text Аудитория до 350 млн. чел.
