section.section#service
  .container
    .__row
      .__col-12
        .title
          p.sub-level Мы предоставляем следующие
          h2.main-level Услуги
    .__row.pack-1
      .__col-12.__col-md-6
        .service-item
          .service-item-title Реклама аудио
          p.service-item-text Публикация вашего трека на аудиторию более 6 млн подписчиков. <b>Пакет отлично подходит для начинающих артистов и премьер!</b>
      .__col-12.__col-md-6
        .service-item
          .service-item-title Средний пакет
          p.service-item-text Оптимальное решение для продвижения молодых <br class="hidden-sm-down" /> артистов.
      .__col-12.__col-md-6
        .service-item
          .service-item-title Комплексное продвижение
          p.service-item-text Месяц <b>МОЩНОГО</b> продвижения вашего творчества. Ваша музыка будет везде и всюду!
      .__col-12.__col-md-6
        .service-item
          .service-item-title от 1 000 000 просмотров [VK]
          p.service-item-text 1 000 000 просмотров в VK.
    .__row.service-subtitle
      .__col-12
        h3 Осуществляем продвижение артистов в разных соц. сетях
    .__row.pack-2
      .__col-12.__col-md-6
        .service-social-title.active Вконтакте
      .__col-12.__col-md-6
        p.service-social-text Принцип продвижения состоит в том что — некий малоизвестный исполнитель будет добавлен в подборку к «топовым артистам». Так же в продвижении включены обычные посты в группах и репосты.
      .__col-12.__col-md-6
        .service-social-title Instagram
      .__col-12.__col-md-6
        p.service-social-text.a-md-bottom-up.soon Скоро!
      .__col-12.__col-md-6
        .service-social-title Youtube
      .__col-12.__col-md-6
        p.service-social-text.a-md-bottom-up.soon Скоро!
