section.section#welcome
  .container
    .__row.a-xs-center-up
      .__col-12.direction-xs-column-up
        h1 Music Blog
        p.subtitle Продвижение треков музыкальных артистов в пабликах VK
        p.color-white.text C 2014 года занимаемся продвижением как широко известных, так и начинающих исполнителей. Сотрудничаем только с лучшими пабликами. Администраторы и редакторы в более сотни крупных, активных сообществ.
        a.work-link(href="#portfolio")
          span Посмотреть результаты наших робот
          i.icon.mouse
