footer.footer
  .container
    .__row
      .__col-12
        a.mail(href="mailto:music.blog.spb@gmail.com") music.blog.spb@gmail.com
        a.social-link(href='https://t.me/juliaustinova' target="_blank")
          i.icon.telegram
        a.social-link(href='https://vk.com/smm_partners' target="_blank")
          i.icon.vk
