header.header
  .container
    nav.navigation
      .toggler
        .toggler-bar
      .__row
        .__col-12.__col-xl-7
          ul.nav-container
            li.nav-item
              a.nav-link(href='#welcome') Главная
            li.nav-item
              a.nav-link(href='#service') Услуги
            li.nav-item
              a.nav-link(href='#portfolio') Нашы роботы
            li.nav-item.text-xl-center-up
              a.nav-link(href='#partners') Партнеры
            li.nav-item.text-xl-center-up
              a.nav-link(href='#contacts') Контакты
        .__col-12.__col-xl-3
          ul.social-container
            li.social-item.text-xl-right-up
              a.social-link(href='https://vk.com/smm_partners' target="_blank")
                i.icon.vk
            li.social-item.text-xl-center-up
              a.social-link(href='javascript:void(0)')
                i.icon.instagram
            li.social-item.text-xl-left-up
              a.social-link(href='javascript:void(0)')
                i.icon.youtube
        .__col-12.__col-xl-2.j-xl-center-up(style="flex-direction: column")
          a.mail(href="mailto:music.blog.spb@gmail.com") music.blog.spb@gmail.com
          .info
            a.social-link(href='https://t.me/juliaustinova' target="_blank")
              i.icon.telegram
            a.social-link(href='javascript:void(0)')
              i.icon.phone
