extends components/layout
block header
  include components/common/header
block content
  include components/sections/welcome
  include components/sections/benefits
  include components/sections/service
  include components/sections/principles
  include components/sections/portfolio
  include components/sections/partners
  include components/sections/contacts
block footer
  include components/common/footer
